<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wszystkie książki</title>
</head>
<body>
<h1>Wszystkie książki:</h1>
<div th:if="${message}" th:text="${message}"></div>
<div th:if="${error}" th:text="${error}"></div>
<table>
    <thead>
    <tr>
        <th>Lp.</th>
        <th>Tytuł</th>
        <th>Autor</th>
        <th>Rok wydania</th>
        <th>Cena</th>
        <th>Dostępna ilość</th>
        <th>Do koszyka</th>
        <th>Usuń</th>
        <th>Edytuj</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.year}"></td>
        <td th:text="${book.price}"></td>
        <td th:text="${book.booksAvailable}"></td>
        <td>
            <button>
                <input type="button" onclick="alert('Dodano do koszyka!')" value="Do koszyka">
            </button>
        </td>
        <td>
            <form th:action="@{/delete-book}" method="post" onsubmit="return confirm('Czy na pewno chcesz usunąć tę książkę?');">
                <input type="hidden" th:name="id" th:value="${book.id}" />
                <button type="submit">Usuń</button>
            </form>
        </td>
        <td>
            <button class="editButton">Edytuj</button>
            <form th:action="@{/edit-book}" method="post" th:object="${book}" class="editForm" style="display: none">
                <input type="hidden" th:name="id" th:value="*{id}">
                <div>
                    <label>
                        <input type="text" name="title" field="*{title}" placeholder="Tytuł">
                    </label>
                </div>
                <div>
                    <label>
                        <input type="text" name="author" field="*{author}" placeholder="Autor">
                    </label>
                </div>
                <div>
                    <label>
                        <input type="number" name="year" field="*{year}" placeholder="Rok wydania">
                    </label>
                </div>
                <div>
                    <label>
                        <input type="number" step="any" name="price" field="*{price}" placeholder="Cena">
                    </label>
                </div>
                <div>
                    <label>
                        <input type="number" name="booksAvailable" field="*{booksAvailable}" placeholder="Dostępna ilość">
                    </label>
                </div>
                <div>
                    <button type="button" data-dismiss="modal" class="closeButton">Zamknij</button>
                    <button type="submit" class="confirmButton">Zapisz</button>
                </div>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <a href="/main">Powrót do strony głównej</a>
</div>
<script>
    document.querySelectorAll('.editButton').forEach(function (button){
        button.addEventListener("click", function () {
            var form = this.closest('tr').querySelector('.editForm');
            form.style.display = (form.style.display === 'none' || form.style.display === '') ? 'block' : 'none';
        })
    });

    document.querySelectorAll('.confirmButton').forEach(function (button){
        button.addEventListener("click", function (){
            var form = this.closest('form');
            if(confirm('Czy na pewno chcesz edytować parametry książki?')){
                form.submit();
            }
        })
    });

    document.querySelectorAll('.closeButton').forEach(function (button){
        button.addEventListener("click", function (){
            var form = this.closest('tr').querySelector('.editForm');
            form.style.display = 'none';
        })
    });
</script>
</body>
</html>
