<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wszystkie książki</title>
</head>
<body>
<h1>Wszystkie książki:</h1>
<table>
    <thead>
    <tr>
        <th>Lp.</th>
        <th>Tytuł</th>
        <th>Autor</th>
        <th>Rok wydania</th>
        <th>Cena</th>
        <th>Dostępna ilość</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.year}"></td>
        <td th:text="${book.price}"></td>
        <td th:text="${book.booksAvailable}"></td>
        <td>
            <button>
                <input type="button" value="Do koszyka">
            </button>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
